@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*

font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;

*/

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    width: 100%;
    height: 87px;
    justify-content: space-evenly;
    align-items: center;
    color: #9767A9;
}
.menu {
    display: none;
}
header nav ul {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

.logo img {
    -webkit-user-drag: none;
    pointer-events: none;
    /* -ms-user-select: none; */
}


header nav ul li{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 10%;
    font-size: 18px;
}
.li-dicas {
    width: 5%;
}
.li-cronograma {
    width: 18%;
}
.li-produtos {
    width: 7%;
}
.li-cadastro {
    width: 11%;
}
.li-contato {
    width: 7%;
}

header nav ul li:hover {
    font-weight: bolder;
}

header nav ul {
    width: 100%;
}

header input {
    border: #9767A9 solid;
    border-radius: 20px;
    height: 35px;
    background-image: url('assets/header/menu-busca.svg');
    background-repeat: no-repeat;
    background-position: 8px;
    text-align: center;
}
header input::placeholder {
    color: #9767A9;
}

.redes-sociais {    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 8%;
}

.redes-sociais img {
    pointer-events: none;
    -webkit-user-drag: none;
}

.dicas {
    background-image: url("assets/main/dicas-e-truques/cabeludo.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%; 
    height: 81.4vh;
    display: flex;
}

.dicas-crespos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    color: white;
    margin-top: 200px;
}

h1 {
    font-size: 4.6vw;
    width: 16.40vw;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
}
 
.dicas-crespos h2 {
    font-size: 2.3vw;
    width: 28.12vw;
    font-weight: 200;
}

@media (max-width:2560px) {
    .logo {
        display: flex;
        align-items: center;
    }
    .logo img {
        width: 8.05vw;
        height: 8.14vh;
    }
    header {
        height: 9vh;
    }
    header nav ul {
        width: 100%;
    }
    nav {
        width: 50%;
    }
    header nav ul li {
        font-size: 30px;
    }
    .li-dicas {
        width: 7%;
    }
    .li-cronograma {
        width: 28%;
    }
    .li-referencia {
        width: 15%;
    }
    .li-produtos {
        width: 12%;
    }
    .li-cadastro {
        width: 16%;
    }
    .li-contato {
        width: 10%;
    }
    header input {
        height: 4.7vh;
        width: 11.7vw;
        font-size: 25px;
    }
    .redes-sociais {
        width: 10%;
    }
    .redes-sociais img {
        height: 7.6vh;
        width: 2.8vw;
    }
}

@media (max-width:2400px){
    .li-dicas {
        width: 9%;
    }
    .li-cronograma {
        width: 20%;
    }
    .li-referencia {
        width: 15%;
    }
    .li-produtos {
        width: 12%;
    }
    .li-cadastro {
        width: 12%;
    }
    .li-contato {
        width: 12%;
    }
    header nav ul {
        width: 60%;
    }
    header nav ul {
        width: 100%;
    }
    nav {
        width: 50%;
    }
    header nav ul li {
        font-size: 20px;
    }
}

@media (max-width:2200px){
    .li-cronograma {
    }
    .li-referencia {
        width: 12%;
    }
    .li-produtos {
        width: 15%;
    }
    .li-cadastro {
        width: 14%;
    }
}

@media (max-width: 1920px) {
    header nav ul {
        width: 60%;
    }
    .li-dicas {
        width: 9%;
    }
    .li-cronograma {
        width: 24%;
    }
    .li-referencia {
        width: 14%;
    }
    .li-produtos {
        width: 12%;
    }
    .li-cadastro {
        width: 14%;
    }
    .li-contato {
        width: 14%;
    }
    header nav ul {
        width: 100%;
    }
    nav {
        width: 50%;
    }
}
@media (max-width:1850px){
    header nav ul {
        width: 60%;
    }
    header nav ul li {
        font-size: 25px;
    }
    .li-dicas {
        width: 9%;
    }
    .li-cronograma {
        width: 29%;
    }
    .li-referencia {
        width: 14%;
    }
    .li-produtos {
        width: 12%;
    }
    .li-cadastro {
        width: 17%;
    }
    .li-contato {
        width: 14%;
    }
    header input {
        height: 40px;
    }
    .dicas-crespos {
        margin-top: 0px;
    }
    header nav ul {
        width: 100%;
    }
    nav {
        width: 50%;
    }
    header nav ul li {
        font-size: 20px;
    }
}

@media (max-width:1550px){
    header nav ul li {
        font-size: 20px;
    }
    header nav ul {
        width: 55%;
    }
    .logo img {
        width: 6.05vw;
        height: 6.00vh;
    }
    .li-cadastro {
        width: 20%;
    }
    .li-cronograma {
        width: 32%;
    }
    .li-referencia {
        width: 20%;
    }
    .li-produtos {
        width: 15%;
    }
    header nav ul {
        width: 100%;
    }
    nav {
        width: 50%;
    }
    header nav ul li {
        font-size: 20px;
    }
    .dicas-crespos{
        margin-bottom: 9.5vh;
    }
    
}



@media (max-width:1440px){
    header {
        width: 100%;
    }
    .logo img {
        width: 6.46vw;
        height: 6.5vh;
    }
    header nav ul li {
        font-size: 20px;
    }
    header nav ul {
        width: 100%;
    }
    nav {
        width: 60%;
    }
    .li-dicas {
        width: 9%;
    }
    .li-cronograma {
        width: 30%;
    }
    .li-referencia {
        width: 17%;
    }
    .li-produtos {
        width: 15%;
    }
    .li-cadastro {
        width: 18%;
    }
    .li-contato {
        width: 12%;
    }
    .redes-sociais {
        width: 10%;
    }
    header input {
        width: 10.03vw;
    }
    header input::placeholder {
        font-size: 20px;
    }
    .redes-sociais img {
        height: 6.7vh;
        width: 2.8vw;
    }
}

@media (max-width: 1300px) {
    header nav ul {
        width: 65%;
    }
    .li-cronograma {
        width: 15vw;
    }
    .li-produtos {
        width: 12%;
    }
    .li-cadastro {
        width: 9vw;
    }
    .li-referencia {
        width: 10vw;
    }
    .li-contato{
        width: 6vw;
    }
    header input {
        width: 12.03vw;
    }
    header nav ul {
        width: 100%;
    }
    nav {
        width: 50%;
    }
    header nav ul li {
        font-size: 15px;
    }
    .dicas-crespos{
        margin-bottom: 15.5vh;
    }
    .redes-sociais img {
        height: 5.0vh;
        width: 2.8vw;
    }

}

@media (max-width:1150px) {
    header nav ul li {
        font-size: 15px;
    }
    .dicas-crespos{
        margin-bottom: 40vh;
    }    
    .li-cronograma {
        width: 18vw;
    }
    .li-cadastro {
        width: 12vw;
    }
}

@media (max-width:1060px) {
    header nav ul li {
        font-size: 12px;
    }
    .dicas-crespos{
        margin-bottom: 40.5vh;
    }
}

@media (max-width:1024px) {
    header nav ul li {
        font-size: 14px;
    }
    header input {
        width: 12vw;
        font-size: 15px;
        height: 3.8vh;
        background-size: 15px;
    }
    header input::placeholder {
        font-size: 15px;
    }
    header nav ul {
        width: 100%;
    }
    nav {
        width: 60%;
    }
    .redes-sociais {
        width: 12%;
    }
    .redes-sociais img {
        height: 6vh;
        width: 3vw;
    }
    .logo img {
        width: 8vw;
        height: 5.2vh;
    }
    
}
@media (max-width:910px) {
    .logo img {
        width: 7.6vw;
        height: 3.8vh;
    }
    header ul {
        width: 60%;
    }
    header nav ul li {
        font-size: 12px;
    }
    header input {
        width: 100px;
        
    }

    header input::placeholder {
        font-size: 13px;
    }
    .li-dicas {
        width: 9%;
    }
    .li-cronograma {
        width: 32%;
    }
    .li-referencia {
        width: 19%;
    }
    .li-produtos {
        width: 15%;
    }
    .li-cadastro {
        width: 21%;
    }
    .li-contato {
        width: 12%;
    }
    .redes-sociais {
        width: 15%;
    }
    .dicas-crespos{
        margin-bottom: 45.5vh;
    }
}
@media (max-width:768px) {
    header {    
        justify-content: space-between;
        height: 5.8vh;
    }
    .menu {
        height: 5.8vh;
        display: flex;
    }
    .logo {
        width: 92%;
        display: flex;
        justify-content: center;
    }
    .logo img {
        width: 13%;
        height: 100%;
    }
    nav {
        display: none;
    }
    header nav ul {
        display: none;
    }
    header input {
        display: none;
    }
    .redes-sociais {
        display: none;
    }
    .dicas {
        background-image: url("assets/responsivo-mobile/main/dicas-e-truques/cabeludo.png");
        justify-content: center;
        height: 86vh;
    }
    .dicas-crespos{
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        width: 90%;
        height: 70%;
    }
    h1 {
        font-size: 15vw;
        width: 59vw;
    }
    .dicas-crespos h2{
        font-size: 7vw;
        width: 82.1vw;
        justify-content: space-evenly;
    }
}

@media (max-width:500px){
    .logo img {
        width: 25%;
    }
}

@media (max-width:425px) {
    header {
        justify-content: space-between;
        height: 5.8vh;
    }
    header nav ul {
        display: none;
    }
    header input{
        display: none;
    }
    .redes-sociais {
        display: none;
    }
    .logo {
        width: 85%;
        display: flex;
        justify-content: center;
    }
    .logo img {
        width: 25%;
    }
    .menu {
        display:flex;
        height: 5.8vh;
    }
    .dicas-crespos h2{
        font-size: 7vw;
        width: 82.1vw;
        justify-content: space-evenly;
        margin-bottom: 100px;
    }
}
@media (max-width:375px) {
    .logo img {
        width: 30%;
    }
    .dicas-crespos h2{
        margin-bottom: 200px;
    }
}

@media (max-width:320px) {
    .logo img {
        width: 30%;
    }
    .dicas-crespos h2{
        margin-bottom: 300px;
    }
}